# Python compiled files 
__pycache__
*.py[cod]
*$py.class
*.pymon
*/__pycache__

# Environment variables
.env
.envs/*
venv/

# Vscode
.vscode

# Built Visual Studio Code Extensions
*.vsix

# Local History for Visual Studio Code
.history/

# Compose volume
compose/volumes

# Exclude .m4a files - too large
docs/youtube/*.m4a

# DS_store for mac
.DS_store
*/.DS_store

dataframe.csv